<div>
  <form [formGroup]="gamesForms" (ngSubmit)="onSubmit()">
    <div class="item">
      <label for="">Name:</label>
      <input type="text" formControlName = "name">
    </div>
    <div class="item">
      <label for="">Min number of players:</label>
      <input type="number" formControlName = "minNumberOfPlayers">
    </div>
    <div class="item">
      <label for="">Max  number of players:</label>
      <input type="number" formControlName = "maxNumberOfPlayers">
    </div>
    <div class="item">
      <label for="">Min playing time:</label>
      <input type="number" formControlName = "minPlayingTime">
    </div>
    <div class="item">
      <label for="">Max playing time:</label>
      <input type="number" formControlName = "maxPlayingTime">
    </div>
    <div class="item">
      <label for="">Rate:</label>
      <input type="number" formControlName = "rate">
    </div>
    <div class="item">
      <label for="">Year:</label>
      <input type="number" formControlName = "year">
    </div>
    <button type="submit">SUBMIT</button>
  </form>
</div>